*{
  margin: 0;

}

body{
  background-color:aquamarine;
  
}

h1{
  color: #000;
}
#editor{
  width: 100%;
  font-size: 22px;
  padding: 20px;
  border-radius:0px 20px;
}

#preview{
  padding: 40px;
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 20px 0px;
}